@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #8E5BF8;
    --color-secondary: #0F0715;
    --default-font-family: "Sora", serif;
}

@keyframes updown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}
.cursor-blink {
    animation: blink 1s step-end infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
.animated-text {
    animation: updown 3s ease-in-out infinite alternate;
}
/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 5px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #8E5BF8, #DDCDFD);
    /* Gradient */
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #DDCDFD, #8E5BF8);
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #8E5BF8 #1a1a1a;
}

/* Custom Shadow Effect */
.custom-shadow {
    position: relative;
    filter: drop-shadow(0 40px 0px var(--color-primary)) drop-shadow(0 0px 0px var(--color-secondary));
}


.image-container {
    overflow: hidden;
    height: 200px;
}

.image-container img {
    transition: transform 3s ease;
    height: 1400px;
}

.image-container:hover img {
    transform: translateY(-80%);
}